<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Select the topic you are interested in listening, then click "Generate!" to create iCalendar file (*.ics)</h2>
    <div class="url-ics-file"></div>
    </br>
    <input type="button" class="gen-ics-file" value="Generate!">
    </br>
    <% var chkArr = [0, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 41, 42]; %>
    <% for (var i = 0; i < ssnData.length; i += 1) { %>
      <% if (chkArr.indexOf(i) > -1) { %>
        <h3><%= ssnData[i].dtStart.replace('T', ' ').replace(':00+08:00','') %> ~ <%= ssnData[i].dtEnd.replace('T', ' ').replace(':00+08:00','') %></h3>
      <% } %>
      <input type="checkbox" name="chk-ssn[]" id="<%= ssnData[i].sid %>" value="<%= ssnData[i].sid %>" />[<%= ssnData[i].location %>] :: <%= ssnData[i].title %>  -- <%= ssnData[i].desc %></br>
    <% } %>
    </br>
    <input type="button" class="gen-ics-file" value="Generate!">
    </br>
    <div class="url-ics-file"></div>

    <div> <a href="http://twitter.com/mrmoneyc" target="_blank">@mrmoneyc</a> </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/gen.js"></script>
  </body>
</html>
